
* {
    margin: 0;
    padding: 0;
}

.image-generator-main-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 100px 0px;
}

.image-search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    height: 65vh;
    width: 51vw;
    
}

.image-search img {
    max-width: 400px;
    height: 46vh;
    width: 35vw;
    border: white solid 1px;
}

.image-search input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.image-search button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.image-search button:hover {
    background-color: #218838;
}

.userinput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}